body{
    margin:0px;
    padding:0px;
}

@media only screen and (max-width:750px){
    #ball{
        width:60px;
        height:60px;
    }
}

@media only screen and (max-width:500px){
    #ball{
        width:40px;
        height:40px;
    }
}

#ball{
    width:80px;
    height:80px;
    background-color:green;
    border-radius:50%;
    margin:0px;
    padding:0px;
}